# Day 2: 

**LOOPS:**
1. For 
2. While

In [3]:
# Datastructure - List:

l = [10,20,30,40,3.142,2+3j,False,'Akshay']
print(l)
print(type(l))

[10, 20, 30, 40, 3.142, (2+3j), False, 'Akshay']
<class 'list'>

In [5]:
# Loops: 
# For Loops:
l=[10,20,30,40]
for i in l:
    print(i)

10
20
30
40

In [6]:
l=['Akshay','Dube','Lets','Learn']
for var in l:
    print(var)

Akshay
Dube
Lets
Learn

# While Loop:
Syntax - 
Initialization
while condition:
    do this
    do this
    increment/decrement

In [14]:
# Program to print numbers from 1 to 10:
i = 1
while i<=10:
    print(i,end=' ')
    i = i+1

1 2 3 4 5 6 7 8 9 10

In [17]:
# Program to print numbers from 10 to 1:
i = 10
while i>=1:
    print(i,end=' ')
    i = i-1

10 9 8 7 6 5 4 3 2 1

In [19]:
# 'end' Attribute:
for i in [11,12,13,14,15]:
    print(i, end=' ')

11 12 13 14 15

# Functions:

There are two types of Functions:
1. Built-In Functions.

**For Eg: print(), type(), etc....**
2. User-Defined Functions.

In [25]:
# Built-in Functions:
print('Hello')
print(type('AKshay'))
print(int(12.94813238))
print(float(25))
print(pow(5,2))

Hello
<class 'str'>
12
25.0
25

In [27]:
# User-Defined Functions:
def greet():
    print('Hello,', end=' ')
    print('Lets Learn.')
greet()

Hello, Lets Learn.

In [33]:
# Range Function: range(start, stop, step size) -
for i in range(5,15,3):
    print(i)

5
8
11
14

In [34]:
for i in range(3):
    print(i,end=' ')

0 1 2

In [35]:
for i in range(3,9):
    print(i,end=' ')

3 4 5 6 7 8

In [36]:
for i in range(5):
    greet()

Hello, Lets Learn.
Hello, Lets Learn.
Hello, Lets Learn.
Hello, Lets Learn.
Hello, Lets Learn.

In [38]:
def mno(a):
    print(pow(a,2))
mno(int(input('Enter the number to be squared:')))

Enter the number to be squared:5
25

In [40]:
def mno(a):
    print(a*3)
mno(5)
mno(1.5)
mno('Akshay ')
mno(int(input('Enter the number:')))

15
4.5
Akshay Akshay Akshay
Enter the number:15
45

In [41]:
def cal(a,b):
    print('Addition:',a+b)
    print('Subtraction:',a-b)
    print('Multiplication:',a*b)
    print('Division:',a/b)
a=int(input('Enter 1st Number:'))
b=int(input('Enter 1st Number:'))
cal(a,b)

Enter 1st Number:6
Enter 1st Number:8
Addition: 14
Subtraction: -2
Multiplication: 48
Division: 0.75

# String:

In [46]:
s = 'Akshay'
print(s)
print(type(s))
print(s[3]) #Indexing Operarion on a String.
print(s[0])
print(s[-1]) #Backward Indexing on a String.
print(s[5]==s[-1])

Akshay
<class 'str'>
h
A
y
True

In [61]:
s = 'Akshay'
print(s)
# Slicing Operation on a String:
print(s[0:5])
print(s[:4])
print(s[3:])
print(s[3:-1])
print(s[-2:-1])

Akshay
Aksha
Aksh
hay
ha
a

# List:

In [65]:
s = 'Akshay'
l =list(s)
print(l)
print(type(l))
print(l[3]) #Indexing Operarion on a List.
print(l[0])
print(l[-1]) #Backward Indexing on a List.
print(l[5]==l[-1])
# Slicing Operation on a List:
print(l[0:5])
print(l[:4])
print(l[3:])
print(l[3:-1])
print(l[-2:-1])

['A', 'k', 's', 'h', 'a', 'y']
<class 'list'>
h
A
y
True
['A', 'k', 's', 'h', 'a']
['A', 'k', 's', 'h']
['h', 'a', 'y']
['h', 'a']
['a']

# Tuple:

In [66]:
s = 'Akshay'
t =tuple(s)
print(t)
print(type(t))
print(t[3]) #Indexing Operarion on a Tuple.
print(t[0])
print(t[-1]) #Backward Indexing on a Tuple.
print(t[5]==t[-1])
# Slicing Operation on a Tuple:
print(t[0:5])
print(t[:4])
print(t[3:])
print(t[3:-1])
print(t[-2:-1])

('A', 'k', 's', 'h', 'a', 'y')
<class 'tuple'>
h
A
y
True
('A', 'k', 's', 'h', 'a')
('A', 'k', 's', 'h')
('h', 'a', 'y')
('h', 'a')
('a',)

In [67]:
# List is Mutable:
l=[1,2,3,4]
print(l)
print(l[0])
l[0]='Akshay'
print(l)
print(l[0])

[1, 2, 3, 4]
1
['Akshay', 2, 3, 4]
Akshay

In [70]:
# Tuple is Immutable:
t=(1,2,3,4)
print(t)
print(t[0])
# t[0]='Akshay'
# print(t)
# print(t[0])

(1, 2, 3, 4)
1

In [72]:
# String is Immutable:
s ='Akshay'
print(s)
print(s[0])
# s[0]='T'
# print(s)
# print(s[0])

Akshay
A

# Set: {}

**Sets are Unordered and Unindexed Unlike List.**

In [73]:
s = {1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [77]:
s = {1,5.8709,'Akshay',4,'Dube'}
print(s)
print(type(s))
# print(s[0]) - this will throw an error.

{1, 4, 5.8709, 'Dube', 'Akshay'}
<class 'set'>

# Dictionary: {Key: Value}

**Key and Value Pair together is known as an'Item' in Dictionary.**

In [82]:
d = {1:'Comp',2:'EXTC',3:'IT'}
print(d)
print(type(d))
print(d[1])
d[2]='Mech'
print(d)

{1: 'Comp', 2: 'EXTC', 3: 'IT'}
<class 'dict'>
Comp
{1: 'Comp', 2: 'Mech', 3: 'IT'}

In [86]:
d = {2.34:'Akshay',12:10.23, 'Dube':'All the best'}
print(d)
print(d['Dube'])
print(d[2.34])

{2.34: 'Akshay', 12: 10.23, 'Dube': 'All the best'}
All the best
Akshay

# String Functions:

In [93]:
s = 'AkShAY'
t = 'aN ApPLe a DAy KeEpS ThE doCTOr AwAy'
print(t.capitalize())
print(s.lower())
print(s.upper())
print(s.swapcase())
s1='T'
print(s.replace('Y',s1))
print(s.replace('A','t',1))

An apple a day keeps the doctor away
akshay
AKSHAY
aKsHay
AkShAT
tkShAY

# List Functions:

In [97]:
l=[1,2,3,4,5]
print(l)
l.append('Akshay')
print(l)
l.pop(4)
print(l)
l.extend(['Dube',100,200,300])
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'Akshay']
[1, 2, 3, 4, 'Akshay']
[1, 2, 3, 4, 'Akshay', 'Dube', 100, 200, 300]

In [98]:
l =[5,1,8,4,7,2]
print(l)
l.sort()
print(l)

[5, 1, 8, 4, 7, 2]
[1, 2, 4, 5, 7, 8]

In [100]:
l =[5,1,8,4,7,2]
print(l)
l.sort(reverse=True)
print(l)
l.reverse()
print(l)

[5, 1, 8, 4, 7, 2]
[8, 7, 5, 4, 2, 1]
[1, 2, 4, 5, 7, 8]

In [105]:
l=[1,2,3,5]
print(l)
l.insert(3,'Akshay')
print(l)

[1, 2, 3, 5]
[1, 2, 3, 'Akshay', 5]

# Tuple Functions:

In [106]:
t=(1,2,3,4,5)
print(t)
print(len(t))
print(max(t))
print(min(t))

(1, 2, 3, 4, 5)
5
5
1

# Set Functions:

In [107]:
s = {'apple','banana','cherry'}
for i in s:
    print(i)

apple
cherry
banana

In [112]:
print('banana' in s)
print('oranges' in s)
s.add('oranges')
print(s)
print('oranges' in s)
s.update(['mango','papaya'])
print(s)
print(len(s))
s.remove('apple')
print(s)

True
True
{'cherry', 'banana', 'apple', 'oranges', 'ornages'}
True
{'mango', 'papaya', 'cherry', 'banana', 'apple', 'oranges', 'ornages'}
7
{'mango', 'papaya', 'cherry', 'banana', 'oranges', 'ornages'}

# Dictionary Functions:

In [120]:
d ={1:'COMP',2:'IT',3:'EXTC'}
print(d)
print(type(d))
print(str(d))
print(type(str(d)))
print(d.keys())
print(type(d.keys()))
print(list(d.keys()))
print(d.values())
print(d)
del d[1]
print(d)
d.clear()
print(d)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'dict'>
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'str'>
dict_keys([1, 2, 3])
<class 'dict_keys'>
[1, 2, 3]
dict_values(['COMP', 'IT', 'EXTC'])
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{2: 'IT', 3: 'EXTC'}
{}

In [122]:
d1={1: 'COMP', 2: 'IT', 3: 'EXTC'}
d2={4:'BIOTECH'}
print(d1)
print(d2)
d1.update(d2)
print(d1)
print(d2)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{4: 'BIOTECH'}
{1: 'COMP', 2: 'IT', 3: 'EXTC', 4: 'BIOTECH'}
{4: 'BIOTECH'}